.home {

    .container {
        padding: 40px;
    }

    .header {
        grid-column: 1/12;
        background: $primary-color-light;
        height: 300px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
